/* Añade estos estilos a tu archivo Advertisement.module.scss */

.container {
  position: relative;
  // border: 1px solid #000;
  padding: 20px;
  // height: 100%;
}

//locales unitarios
.locales {
  box-shadow: 10px 10px 10px #baba;
}

.motion {
  // z-index: 9999;
  z-index: 40;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-height: 70vh;
  overflow-y: auto;
}

/* Estilos para el botón de tienda */
.storeToggleButton {
  position: fixed !important;
  z-index: 9999 !important;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15) !important;
  transition: bottom 0.3s ease;
  bottom: 5px;
}

/* Clase auxiliar para aplicar cuando estamos cerca del footer */
.nearFooter {
  bottom: 120px !important;
}
/* Para dispositivos móviles */
@media (max-width: 767px) {
  .container {
    position: static;
  }

  .motion {
    position: fixed;
    bottom: 75px;
    right: 16px;
    max-height: 60vh;
    overflow-y: auto;
  }
}
