/* Añade estos estilos a tu archivo Advertisement.module.scss */

.container {
  position: relative;

  width: 100%;
  max-width: 300px;

  // border: 1px solid #000;
  padding: 20px;
  margin-top: 65px;
  // height: 100%;
}

//locales unitarios
.locales {
  box-shadow: 10px 10px 10px #baba;
}

.motion {
  // z-index: 9999;
  z-index: 40;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-height: 70vh;
  overflow-y: auto;
}

/* Estilos para el botón de tienda */
.storeToggleButton {
  position: fixed;
  z-index: 9999;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: bottom 0.3s ease;
  bottom: 5px;
}

/* Clase auxiliar para aplicar cuando estamos cerca del footer */
.nearFooter {
  bottom: 120px;
}

/* Estilos para desktop */
@media (min-width: 1024px) {
  .container {
    position: sticky;
    top: 20px;
    left: 0;
    // height: calc(100vh - 40px);
    overflow-y: auto;
    padding-right: 1rem;
    width: 100%;
    max-width: 300px;
  }

  .motion {
    position: relative;
    max-height: none;
    height: auto;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow-y: visible;
  }

  .storeToggleButton {
    display: none; /* Ocultamos el botón flotante en desktop */
  }
}

/* Para dispositivos móviles */
@media (max-width: 767px) {
  .container {
    position: static;
  }

  .motion {
    position: fixed;
    bottom: 75px;
    right: 16px;
    max-height: 60vh;
    overflow-y: auto;
  }
}
