.carouselContainer {
  position: relative;
  // width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.carousel {
  position: relative;
  height: 100%;
  display: flex;
  // flex-direction: column;

  :global(.carousel-prev),
  :global(.carousel-next) {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    // transform: translateY(-50%);
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #000;
      color: #fff;
      transform: scale(0.9);
      transition: 0.3s ease-out;
    }
  }

  :global(.carousel-prev) {
    left: 10px;
  }

  :global(.carousel-next) {
    right: 10px;
  }

  & .carouselContent {
    height: 100%;
    width: 100%;

    & .carouselItem {
      height: 100%;

      & .card {
        height: 100%;

        & .cardContent {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

/* Indicadores */
.indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-top: 10px;
  margin: 0 auto;
  gap: 8px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 5;
  width: 150px;
  height: 30px;
  padding: 5px 0;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #000;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  background-color: #000;
  border: none;
  padding: 0px;
  cursor: pointer;
  transition: all 0.3s ease;

  &.active {
    // background-color: rgb(0, 0, 0);
    border: 5px solid #fff;
    transform: scale(1.2);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@media (width > 768px) {
  .carousel {
    & .carouselContent {
      & .carouselItem {
        & .card {
          & .cardContent {
            & img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center; // Centra la imagen
            }
          }
        }
      }
    }

    // Ajustes adicionales para los botones en pantallas grandes
    :global(.carousel-prev),
    :global(.carousel-next) {
      width: 50px;
      height: 50px;
    }

    :global(.carousel-prev) {
      left: 20px;
    }

    :global(.carousel-next) {
      right: 20px;
    }
  }

  .indicators {
    bottom: 20px;
  }

  .indicator {
    width: 12px;
    height: 12px;
  }
}
