@import "../mixins.scss";

.productList {
  display: flex;
  flex-direction: column;
  justify-content: center;

  // white-space: nowrap;

  // width: calc(100% - 20px);

  & .container {
    display: flex;

    // justify-content: center;
    align-items: center;

    margin: 0;
  }
}
