.stock {
  background-color: #ffd500;
  color: #000;
  font-size: 16px;
  border: 1px solid #fff;
}

@media screen and (min-width: 375px) and (max-width: 667px) {
   .productGridContainer {
    padding: 0;
   } 
}
