@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;

  color: red;
  // border: 1px solid green;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  // align-items: center;
}

@mixin dark_button {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
