@import "./mixins";

@media screen and (min-width: 320px) {
  .container {
    @include border_gray;
    width: 100vw;
    min-width: 320px;
    max-width: 500px;

    margin: 10px 0;
    // padding: 5px;

    background-color: rgba(188, 204, 220, 0.25);
  }
}

@media (min-width: 768px) {
  .container {
    width: 48%; /* Changed from 300px to percentage-based for responsive layout */
    margin: 10px 1%;

    & .accesories {
      /* Any specific styles for accesories within the container at 768px+ */
    }
  }
}
