.carousel {
  margin-bottom: 25px;
  position: relative; // Añadido para posicionar correctamente los botones

  // Estilo para los botones de navegación
  :global(.carousel-prev),
  :global(.carousel-next) {
    // background-color: rgba(255, 255, 255, 0.7);
    background-color: rgb(7, 7, 7);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  :global(.carousel-prev) {
    left: 10px;
  }

  :global(.carousel-next) {
    right: 10px;
  }

  & .carouselContent {
    & .carouselItem {
      & .card {
        & .cardContent {
          height: 300px; // Altura fija para todas las imágenes
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden; // Para evitar que las imágenes se salgan del contenedor

          & img {
            width: 100%;
            height: 100%;
            object-fit: cover; // Mantiene la proporción y cubre el espacio
          }
        }
      }
    }
  }
}

@media (width > 768px) {
  .carousel {
    & .carouselContent {
      & .carouselItem {
        & .card {
          & .cardContent {
            // height: 400px; // Mayor altura para pantallas más grandes

            & img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center; // Centra la imagen
            }
          }
        }
      }
    }

    // Ajustes adicionales para los botones en pantallas grandes
    :global(.carousel-prev),
    :global(.carousel-next) {
      width: 50px;
      height: 50px;
    }

    :global(.carousel-prev) {
      left: 20px;
    }

    :global(.carousel-next) {
      right: 20px;
    }
  }
}
