.carousel {
  margin-bottom: 25px;
  // border: 1px solid #000;
  

  & .carouselContent {
    & .carouselItem {
      & .card {
        & .cardContent {
          // height: 50vh;
          // width: 1000px;

          & img {
            // height: 500px;
            // object-fit: contain;
            // object-position: 0px -17px;
          }
        }
      }
    }
  }
}

@media (width > 768px) {
  .carousel {
    & .carouselContent {
      & .carouselItem {
        & .card {
          & .cardContent {
            & img {
              height: inherit;

              //   object-fit: contain;
              //   object-position: left bottom;
              object-position: 0px -175px;
              width: 80%;
            }
          }
        }
      }
    }
  }
}
