.footer {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;

  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;

  height: auto;

  background-color: rgba(48, 100, 204, 0.9);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

  bottom: 0;
  top: 0;
}

.footer .flecha {
  position: fixed;

  padding: 10px;

  bottom: 5px;
  left: 5px;

  background-color: #fff;
  border-radius: 50%;
}

.footer .flecha img {
  width: 30px;
  height: 30px;

  right: 30px;
}

.footer .description {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  width: calc(100% - 30px);
  height: 30px;

  background-color: #fff;
  border-radius: 20px;
}

.footer .description p {
  color: #000;
  font-size: 1.2rem;
  /* text-transform: uppercase; */
}

.footer .ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.footer .ubicacion .call {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;
  margin-top: 10px;

  background-color: #fff;
  /* border: 1px solid red inset; */
  border-radius: 10px;
}

.footer .consultorio {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #fff;
  border-radius: 20px;
}

.footer .consultorio a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer .ubicacion img {
  margin: 10px 0;
  width: 50px;
  height: 50px;
}

.footer .ubicacion p {
  margin: 10px 0 0;
  padding: 5px;
  color: #fff;
  font-size: 1.1rem;
  font-weight: bold;
  /* background-color: #fff;
  border-radius: 20px; */
}

.footer .redes {
  position: static;

  /* display: none; */
  justify-content: center;
  align-items: center;

  margin: 10px 0;

  bottom: 5px;
}
.footer .redes.tiktok {
  background-color: #fff;
  border-radius: 50%;
}

.footer .redes ul {
  display: flex;
  gap: 0 2.5rem;

  list-style: none;
  margin: 7px 0;
  padding: 0;
}

.footer .redes ul li img {
  width: 40px;
  height: 40px;
}

.footer .redes.open {
  position: fixed;

  padding: 0 5px;

  bottom: 50px;
  left: 10px;

  transition: 0.3s ease-in;

  /* background-color: rgba(181, 183, 187, 0.6); */
  background-color: rgba(234, 236, 239, 0.8);
  border-radius: 30px;
  border: 1px solid #fff;

  animation-name: showMenuBurger;
  animation-duration: 0.3s;
}

@keyframes showMenuBurger {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(0);
  }
}

.footer .redes.closed {
  display: flex;

  right: -100px;

  transition: 0.5s ease-out;

  animation-name: hiddenMenuBurger;
  animation-duration: 1s;
}

.footer .redes.closed ul li a {
  position: fixed;
}

@keyframes hiddenMenuBurger {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(-500px);
  }
}

.footer .back {
  position: static;

  margin: 10px 0;

  bottom: 50px;
}

.footer .back.open {
  /* display: none; */
  position: fixed;

  padding: 0 5px;

  bottom: 130px;
  left: 10px;

  transition: 0.3s ease-in;

  /* background-color: rgba(181, 183, 187, 0.6); */
  background-color: rgba(234, 236, 239, 0.8);
  border-radius: 30px;
  border: 1px solid #fff;

  animation-name: showBack;
  animation-duration: 0.3s;
}

@keyframes showBack {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-1000px);
  }
}

.footer .back.closed {
  display: flex;

  transition: 0.5s ease-out;

  animation-name: hiddenArrow;
  animation-duration: 1s;
}

.footer .back.closed ul li a {
  position: fixed;
}

@keyframes hiddenArrow {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translateX(-5000px);
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 50px;
    grid-template-areas:
      "especialidad especialidad especialidad"
      "direccion . mapa" ". externo .";

    justify-items: center;
  }

  .footer .description {
    grid-column-start: 1;
    grid-column-end: 4;

    width: 60%;

    /* box-shadow: -10px 10px 10px #fff; */
  }

  .footer .ubicacion {
    grid-area: mapa;
  }

  .footer .ubicacion .consultorio {
    grid-area: mapa;
  }

  .footer .externo {
    grid-area: externo;
  }
}
.externo a {
  font-size: 0.7rem;
  text-decoration: underline;
  color: #fff;
}
