@import "./mixins.scss";
@import "./variables";

/* styles to presentation of start page */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  margin-top: -15px;

  @media (min-width: 1024px) {
    margin-top: -3px;
  }

  #services,
  #accesories,
  [id] {
    scroll-margin-top: 100px;
  }

  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    20% {
      transform: translateY(-10px);
    }
    40% {
      transform: translateY(5px);
    }
    60% {
      transform: translateY(-5px);
    }
    80% {
      transform: translateY(2px);
    }
    100% {
      transform: translateY(0);
    }
  }

  .bounceAnimation {
    animation: bounce 1s ease-out;
  }

  & .presentation {
    position: relative;

    display: flex;
    justify-content: center;

    width: 100vw;
    height: 300px;
  }

  & .linksDirect {
    height: 100px;
    background-color: $gray-800;

    & a {
      background-color: $white;
      color: $black;
    }

    @media (width: 1024px) {
      margin-bottom: 0;
    }
  }

  & .destacados {
    // margin: 0 50px;
    // padding: 0 50px;

    @media (width: 1024px) {
      margin-top: 0;
    }
  }

  & .tratamientos {
    @include flex-column;

    margin: 30px 0;
    padding: 15px 0;
    width: 100%;
    height: auto;
    background-color: #000;
    color: #fff;

    & .area {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 20px 0;
      margin-bottom: 20px;
      width: 95%;

      transition: all 0.5s ease-out;

      border: 1px solid #fff;
      border-radius: 20px;
      box-shadow: 3px 3px 10px #fff;

      & h3 {
        text-decoration: underline;
        font-weight: bolder;
        font-size: 1.25rem;
      }

      & ul {
        margin: 0 auto;
        text-align: left;
        // width: 100%;
        & li {
          list-style: circle;
          font-size: 1rem;
        }
      }

      & a {
        @include dark_button;

        margin-top: 20px;

        width: calc(100% - 50px);

        text-align: center;
      }
    }

    @media (width: 1024px) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .accesories {
    position: relative;
    width: 100%;
    margin: 1rem auto;
    padding: 1rem 0;
    background-color: #f5f5f5;

    .varios {
      width: 95%;
      max-width: 1200px;
      margin: 0 auto;
      position: relative;
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 2rem;

      h1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        color: $black;
        margin-bottom: 1.3rem;

        &:after {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 50%;
          transform: translateX(-50%);
          width: 200px;
          height: 3px;
          background-color: #f39c12; /* Usa tu variable $accent-color */
        }
      }

      .tipo {
        background: white;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        transition: transform 0.3s ease;
        // margin-bottom: 1.5rem;

        &:hover {
          transform: translateY(-5px);
        }

        h2 {
          padding: 1rem;
          font-size: 1.2rem;
          font-weight: 600;
          color: #333;
          background: #f8f8f8;
          margin: 0;
          width: 100%;
          text-align: center;
        }

        a {
          padding: 0.5rem;
          text-align: center;
          background: #0070f3;
          color: white;
          text-decoration: none;
          font-weight: 500;
          font-size: 0.9rem;
          width: 100px;
          margin: 0.2rem auto;
          border-radius: 5px;
          display: block;

          &:hover {
            background: #0051cc;
          }
        }
      }
    }
  }

  @media (min-width: 425px) {
    .accesories {
      .varios {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;

        h1 {
          grid-column: span 2;
        }

        .tipo {
          margin-bottom: 0;
        }
      }
    }
  }

  @media (min-width: 1024px) {
    margin-top: 0;
  }

  @media (min-width: 992px) {
    .accesories {
      .varios {
        grid-template-columns: repeat(3, 1fr);

        h1 {
          grid-column: span 3;
        }
      }
    }
  }

  @media (min-width: 1200px) {
    .accesories {
      .varios {
        grid-template-columns: repeat(4, 1fr);

        h1 {
          grid-column: span 4;
        }
      }
    }
  }
}

@media (width > 768px) {
  .container {
    display: grid;
    grid-template-areas:
      "presentacion presentacion"
      "directos aside"
      "servicios aside"
      "products aside"
      "conjunto aside";

    grid-template-columns: 2fr 20%; /* Ajuste de tamaño */
    grid-template-rows: auto;
    gap: 20px; /* Espacio entre elementos */

    // margin-bottom: 50px;
    // padding-bottom: 20px;

    & .presentation {
      position: relative;

      grid-area: presentacion;

      margin-top: 0;

      width: 100%;

      .carrusel img {
        width: 100vw;
      }
    }

    & .destacados {
      width: 100%;
      padding: 0 15px;
      margin: 20px 0;

      @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap; /* In case you add more components later */
      }
    }

    & .tratamientos {
      grid-area: servicios;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row: 3;
    }

    & .publicidad {
      grid-area: aside;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      margin-right: 10px;

      width: 100%;
      height: 100%;

      @include shadowLeft;

      h3 {
        border: 1px solid #000;
        // padding: 20px;
      }
    }
  }
}
