.image {
  position: relative;
  /*puede eliminarse*/
  overflow: hidden;

  width: 100%;
  min-width: 370px;
  max-width: 550px;

  height: 350px;
  /* border: 2px solid #fff;
  border-radius: 20px; */
}

.transition {
  transition: opacity 0.5s ease-in-out; /* Ajusta la duración y la función de temporización según tus preferencias */
}

.image img {
  width: inherit;

  /* max-width: 500px; */
  height: 350px;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.image .buttonContainer {
  position: absolute;
  display: flex;
  justify-content: space-between;

  width: 100%;
  top: 50%;
}

.image .buttonContainer button {
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  border: none;
}

.image .buttonContainer button:active {
  transform: scale(0.7);
  transition: 0.5s ease-out all;
}

.image .buttonContainer button:active .image {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.image .buttonContainer button img {
  width: 45px;
  height: 45px;
  border-radius: 50%;

  /* background-color: white; */
}
