@import "./mixins.scss";

.productItem {
  @include border_dark;

  display: grid;
  // grid-template-rows: 4fr 1fr 2fr 1fr;
  grid-template-rows: 1fr auto auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "productImage"
    "productTitle"
    "productDescription"
    "productPrice"
    "productAction";

  align-items: center;
  justify-items: center;
  width: 250px;

  & .productImage {
    grid-area: productImage;
  }

  & .productTitle {
    grid-area: productTitle;
  }

  & .productDescription {
    grid-area: productDescription;
  }

  & .productPrice {
    grid-area: productPrice;
  }

  & .productAction {
    grid-area: productAction;
  }

  // margin-bottom: 5px;
  margin-left: 10px;

  text-align: center;

  // width: inherit;
  height: 350px;

  // background-color: rgba(#944949, 0.3);

  & img {
    @include border;
    // box-shadow: 5px 5px 10px #817e7e;
    object-fit: contain;

    width: calc(100% - 30px);
    // width: 300px;
    height: 210px;
    padding: 0;
  }

  & p {
    @include border_gray;
    word-wrap: break-word;
    white-space: normal;

    line-height: 25px;

    height: 30px;
    width: 200px;
    font-size: 0.8rem;

    border-color: #bababa;
    margin-bottom: 2.5px;
  }

  & a {
    @include celeste_button;
    margin: 5px 0;
  }
}
