@import "./mixins";

.services{ 
  @include flex-column;

  

  height: 100%;
  margin-top: 60px;

  & p {
    margin-bottom: 50px;
    @include border_dark;
  }

  & img {
    height: inherit;
    object-fit: cover;
  }
}