/* Estilos específicos para el componente de accesorios destacados */

.container {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  padding: 20px 10px;
  background-color: transparent;

  @media (min-width: 768px) {
    max-width: 450px;
    flex: 1;
    margin: 10px 0;
  }

  @media (min-width: 1024px) {
    max-width: 400px;
  }
}

.accesories {
  // @media screen and (max-width: 767px) {
  //   margin-bottom: 0.5rem;

  //   button {
  //     width: 2.5rem;
  //     height: 2.5rem;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;

  //     svg {
  //       width: 1.25rem;
  //       height: 1.25rem;
  //     }
  //   }

  //   span {
  //     font-size: 0.8rem;
  //   }
  // }
}
