/* Añade estos estilos a tu archivo Advertisement.module.scss */

.container {
  position: relative;

  width: 100%;
  max-width: 300px;

  // border: 1px solid #000;
  padding: 20px;
  margin-top: 65px;
  // height: 100%;
}

//locales unitarios
.locales {
  box-shadow: 10px 10px 10px #baba;
}

.motion {
  // z-index: 9999;
  z-index: 40;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  max-height: 70vh;
  overflow-y: auto;
}

/* Estilos para el botón de tienda */
.storeToggleButton {
  position: fixed;
  z-index: 9999;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: bottom 0.3s ease;
  bottom: 5px;
}

/* Clase auxiliar para aplicar cuando estamos cerca del footer */
.nearFooter {
  bottom: 120px;
}

/* Estilos para desktop */
@media (min-width: 1024px) {
  .container {
    position: sticky;

    overflow-y: auto;

    max-width: 350px;

    border: 1px solid #e0e0e0;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-top: -8px;
    box-shadow: -10px 10px 10px #baba;
  }

  .motion {
    position: relative;
    max-height: none;
    height: auto;
    width: 100%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    overflow-y: visible;
  }

  .storeToggleButton {
    display: none; /* Ocultamos el botón flotante en desktop */
  }
}

/* Para dispositivos móviles y tablets */
@media (max-width: 1023px) {
  .container {
    position: static;
    display: none; // Ocultar el contenedor estático en móvil
  }

  .motion {
    position: fixed;
    bottom: 130px;
    left: 16px; // Posicionado a la izquierda
    max-height: 60vh;
    overflow-y: auto;
    width: 256px; // w-64 en Tailwind
  }
}
