@use "../styles/variables.scss" as v;

.side-modal-container {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 100px;
  width: 100%;
  pointer-events: none;
  z-index: 1000;
}

.side-modal {
  position: absolute;
  left: 0;
  top: 0;
  height: 100px;
  background: #2ecc71;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
  cursor: pointer;
  pointer-events: all;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.side-modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.side-modal-text {
  color: white;
  font-family: "Arial", sans-serif;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.side-modal-text h3 {
  font-size: 1.2rem;
  margin: 0;
  font-weight: 600;
}

.side-modal-text p {
  margin: 0;
  font-size: 0.9rem;
}

.side-modal-indicator {
  position: absolute;
  right: 15px;
  font-size: 1.5rem;
  color: white;
  opacity: 1;
  transition: opacity 0.3s ease;
}

/* Animaciones */
.side-modal:hover {
  transform: translateX(0px);
}

/* Responsive */
@media (max-width: 768px) {
  .side-modal {
    height: 40px;
    padding: 0 10px;
  }

  .side-modal-text h3 {
    font-size: 1rem;
  }

  .side-modal-text p {
    font-size: 0.8rem;
  }

  .side-modal-indicator {
    font-size: 1.2rem;
  }
}
