.carrito {
    height: 40%;

    overflow-y: scroll;

    border-top-left-radius: 30px;

    

}

.productosListados {
    height: 60%;

    overflow-y: scroll;

    border-bottom-left-radius: 30px;

    

}